#add-button {
    background-color: var(--color-main);
    width: 8vh;
    height: 8vh;

    position: fixed;
    bottom: 10vh;
    right: 5vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    transition: opacity 0.2s;
}

#add-button:hover {
    opacity: 0.8;
}

#add-button > .icon {
    width: 8vh;
    height: 8vh;
}