#date-selection {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

#date-selection > .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding: 0 24px;
}

#date-selection > .inner > .date {
    text-align: center;
    align-content: center;
    font-weight: bold;
    font-size: 12px;
    color: var(--color-black);
}

#date-selection > .inner > .arrow-btn {
    background-color: var(--color-white);
    border: none;
}

#date-selection > .inner > .arrow-btn > .icon {
    width: 24px;
    height: 24px;
}
