/* body {
    padding-bottom: 80px;
} */

#nav-bar {
    width: 100%;
    height: 9vh;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: var(--color-main);
    border-radius: 15px 15px 0 0 ;
    align-items: center;
    justify-content: center;
}

#nav-bar > .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
}

#nav-bar > .inner > .button{
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-bar > .inner > .button > .icon {
    width: 35px;
    height: 35px;
}

#nav-bar > .inner > .button > .label {
    font-weight: 600;
    font-size: 12px;
    color: var(--color-light);
}
