:root {
    --color-main: #7EA9FF;
    --color-secondary: #6986FA;
    --color-light-orange: #FB7676;
    --color-green: #76F260;
    --color-dark-blue: #091638;
    --color-red: #EF4B4B;

    /* Basics */
    --color-white: #FFF;
    --color-light: #EEF4F5;
    --color-grey: #D9D9D9;
    --color-black: #000;
}

* {
    font-family: 'Inter';
}