#calender {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calender > .inner {
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 350px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

#calender > .inner > .weekdays {
    display: flex;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    gap: 10px;
}

#calender > .inner > .weekdays div {
    width: 5vh;
    text-align: center;
}

#calender > .inner > .days {
    display: grid;
    grid-template-columns: repeat(7, 5vh);
    gap: 5px 10px;
}

#calender > .inner > .days > .day  {
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background: var(--color-light);
    font-size: 12px;
    font-weight: bold;
}

#calender > .inner > .days > .prev-date, #calender > .inner > .days > .next-date {
    background: var(--color-grey);
}

#calender > .inner > .days > .true {
    background: var(--color-green);
}

#calender > .inner > .days > .false {
    background: var(--color-red);
}

#calender > .inner > .days > .event {
    background: var(--color-main);
}

#calender > .inner > .days > .active {
    background: var(--color-black);
    opacity: 0.5;
    color: var(--color-white);
}