.notification-card {
    background-color: var(--color-white);
    width: 95vw;
    max-width: 400px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    border: var(--color-secondary) 2px solid;
    border-radius: 15px;
}

.notification-card > .info-block {
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    border: none;
}

.notification-card > .info-block > .medicine-img{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: var(--color-secondary) 2px solid;
    border-radius: 10px;
    object-fit: cover;
}

.notification-card > .info-block > .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    gap: 5px;
}

.notification-card > .info-block > .info > .title {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 600;
}

.notification-card > .info-block > .info > .row {
    font-size: 14px;
}

.notification-card > .info-block > .info > .row > .title-label {
    color: var(--color-main);
    font-size: 12px;
    font-weight: 600;
}

.notification-card > .info-block > .info > .row > .note {
    color: var(--color-black);
}

.notification-card > .info-block > .info > .row > .quantity {
    width: auto;
    height: 21px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--color-main);
    color: var(--color-white);
    font-weight: 600;

}

.notification-card > .select-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.notification-card > .select-button > .arrow-btn {
    background-color: var(--color-white);
    border: none;
}

.notification-card > .select-button > .arrow-btn > .icon {
    width: 30px;
    height: 30px;
    opacity: 0.4;
    border: 3px solid var(--color-main);
    border-radius: 10px;
}

.notification-card > .select-button > .action-true > .icon {
    opacity: 1;
}

