.medicine-detail {
    background-color: var(--color-light);
    width: 300px;
    padding: 10px 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 5px;

    border: var(--color-secondary) 4px solid;
    border-radius: 15px;
}

.medicine-detail > .close-button {
    width: 20px;
    height: 20px;

    position: absolute;
    top: 10px;
    right: 10px;

    transform: rotate(45deg);
}

.medicine-detail > .title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-secondary);
}

.medicine-detail > .description {
    font-size: 15px;
    font-weight: 600;
}

.medicine-detail > .description > .label {
    color: var(--color-main);
}

.medicine-detail > .description > .value {
    color: var(--color-black);
}

.medicine-detail > .qr-code {
    width: 200px;
    height: 200px;
}

.medicine-detail > .medicine-label {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-main);
}

.medicine-detail > .medicine-list {
    list-style-position: inside;
}

.medicine-detail > .medicine-list > .medicine-name::marker {
    color: var(--color-main);
}

.medicine-detail > .medicine-list > .medicine-name {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-black);
}