<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- import -->
    <!-- font Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- /import -->

    <!-- styles -->
    <link rel="stylesheet" href="./styles/all_style.css">
    <link rel="stylesheet" href="./styles/variables.css">

    <link rel="stylesheet" href="./styles/content_section.css">

    <!-- notification-card -->
    <link rel="stylesheet" href="./styles/notification_card.css">
    <!-- /notification-card -->

    <!-- /styles -->

    <title>Noticine Template</title>
  </head>
  <body>
    <!-- content -->
    <section id="content">
      <!-- notification-card -->
      <div class="notification-card">
        <div class="info-block">
            <img class="medicine-img"
                src="https://plus.unsplash.com/premium_photo-1668487826871-2f2cac23ad56?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MjAxN3wwfDF8c2VhcmNofDV8fG1lZGljaW5lfGVufDB8fHx8MTc0MDcyMDM0NHww&ixlib=rb-4.0.3&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450"
                alt="medicine_img">
        <div class="info">
            <span class="title">Para</span>
            <div class="row">
                <span class="title-label">Quantity: </span>
                <span class="quantity">1 pill</span>
            </div>
            <div class="row">
                <span class="title-label">Note: </span>
                <span class="note">Take after meals.</span>
            </div>
        </div>
    </div>
        <div class="action">
            <button class="arrow-btn"><img src="/icons/checkbox_true.svg" alt="arrow_right" class="icon"></button>
            <button class="arrow-btn"><img src="/icons/checkbox_false.svg" alt="arrow_right" class="icon"></button>
        </div>
    </div>
      <!-- /notification-card -->
    </section>
    <!-- /content -->
  </body>
</html>
